<form method="post" action="/signup/signupdata">
    <table>
        <tr>
            <td style="display: flex; align-items: center;"><div style="width: 50px; height: 38px; display: flex; align-items: center; justify-content: center; background-color: #d8dbe0;"><svg class="icon">
                <use xlink:href="../public/vendors/@coreui/icons/svg/free.svg#cil-user"></use>
            </svg></div><input class="form-control" type="text" name="name" placeholder="Username"></td>
        </tr>
        <tr>
            <td style="display: flex; align-items: center;"><div style="width: 50px; height: 38px; display: flex; align-items: center; justify-content: center; background-color: #d8dbe0;"><svg class="icon">
                <use xlink:href="../public/vendors/@coreui/icons/svg/free.svg#cil-envelope-open"></use>
            </svg></div><input class="form-control" type="email" name="email" placeholder="Email"></td>
        </tr>
        <tr>
            <td style="display: flex; align-items: center;"><div style="width: 50px; height: 38px; display: flex; align-items: center; justify-content: center; background-color: #d8dbe0;"><svg class="icon">
                <use xlink:href="../public/vendors/@coreui/icons/svg/free.svg#cil-lock-locked"></use>
            </svg></div><input class="form-control" type="password" name="password" placeholder="Password"></td>
        </tr>
        <tr>
            <td style="display: flex; align-items: center;"><div style="width: 50px; height: 38px; display: flex; align-items: center; justify-content: center; background-color: #d8dbe0;"><svg class="icon">
                <use xlink:href="../public/vendors/@coreui/icons/svg/free.svg#cil-phone"></use>
            </svg></div><input class="form-control" type="number" name="phone" placeholder="Phone Number"></td>
        </tr>
        <tr>
            <td style="display: flex; align-items: center;"><div style="width: 42px; height: 38px; display: flex; align-items: center; justify-content: center; background-color: #d8dbe0;"><svg class="icon">
                <use xlink:href="../public/vendors/@coreui/icons/svg/free.svg#cil-user"></use>
            </svg></div>
            <div style="margin: 10px;"></div>
            <input type="radio" value="male" name="gander">MALE <div style="margin: 10px;"></div>
            <input type="radio" value="female" name="gander">FEMALE</td>
        </tr>
        <tr>
            <td><input class="btn btn-block btn-success" type="submit"></td>
        </tr>
    </table>
</form>


<!DOCTYPE html>
<!--
* CoreUI - Free Bootstrap Admin Template
* @version v4.2.1
* @link https://coreui.io
* Copyright (c) 2022 creativeLabs Łukasz Holeczek
* Licensed under MIT (https://coreui.io/license)
-->
<html lang="en">
  <head>
    <base href="../public/./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <title>CoreUI Free Bootstrap Admin Template</title>
    <link rel="apple-touch-icon" sizes="57x57" href="../public/assets/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../public/assets/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../public/assets/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../public/assets/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../public/assets/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../public/assets/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../public/assets/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../public/assets/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../public/assets/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../public/assets/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../public/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../public/assets/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../public/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="../public/assets/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Vendors styles-->
    <link rel="stylesheet" href="../public/vendors/simplebar/css/simplebar.css">
    <link rel="stylesheet" href="../public/css/vendors/simplebar.css">
    <!-- Main styles for this application-->
    <link href="../public/css/style.css" rel="stylesheet">
    <!-- We use those styles to show code examples, you should remove them in your application.-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.23.0/themes/prism.css">
    <link href="../public/css/examples.css" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics-->
    <script src="../public/vendors/@coreui/coreui/js/coreui.bundle.min.js"></script>
    <script src="../public/vendors/simplebar/js/simplebar.min.js"></script>
    <script>
    </script>

  </body>
</html>